* {
  background-color: FFFFFF;
  font-family: "Roboto", sans-serif;
}
.header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("./resources/Banner\ Image.png");

  background-repeat: no-repeat;
  width: 1319px;
  height: 600px;
  margin-top: 40px;
  margin-bottom: 120px;
  margin-right: 108px;
  margin-left: 108px;
}
/* .header_img {
  width: 1320px;
  height: 600px;
} */

.header h1 {
  text-align: center;
  color: white;
}

.offer_parent {
  display: flex;
  justify-content: center; /* Horizontally centers the child */
  align-items: center; /* Vertically centers the child */
  height: 100vh;
  margin-bottom: 120px;
}
.offer_section {
  width: 802px;
  height: 806px;
  display: flex;
  justify-content: center; /* Horizontally centers the child */
  align-items: center;
  flex-direction: column;
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.text h1,
h4 {
  color: #ff0000;
}
.offer_img {
  width: 802px;
  height: 500px;
}

.midNight {
  background-image: url("./resources/Vectorrr.png");
  background-repeat: no-repeat;
  margin-right: 108px;
  margin-left: 108px;
  display: flex;
  margin-bottom: 110px;
  border-radius: 5px;
}
.midNight_text {
  width: 60%;
  margin-left: 100px;
  margin-top: 120px;
  color: white;
}
.midNight_img {
  width: 40%;
}
.midNight_text p,
h1 {
  /* color: #ffffff; */
  font-weight: bold;
}
.join_btn {
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
}
.date_parent {
  display: flex;
  justify-content: center; /* Horizontally centers the child */
  align-items: center;
  background-color: #ffeaea;
  margin-left: 100px;
  margin-top: 120px;
  width: 1320px;
  height: 482px;
}
.date_text {
  text-align: center;

  color: black;
  margin-top: 110px;

  /* display: flex; */
}
.date-btn {
  background-color: #ff0000;
  color: white;
  padding: 15px;
}
.coming-soon {
  margin-right: 108px;
  margin-left: 108px;
  margin-top: 100px;
  display: flex;
  gap: 20px;
}
/* item {
  width: 300px;
  height: 100px;
} */
.coming-img {
}
.coming-text-2 {
}

.holiday {
  width: 1320px;
  height: 986px;
}

.cards-section {
  margin-right: 108px;
  margin-left: 108px;
  margin-top: 100px;
  width: 1320px;
  height: 1163px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card-img {
  width: 423px;
  height: 450px;
  display: block;
  object-fit: cover;
}
.card-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.newsletter-section {
  width: 1320px;
  height: 616px;
  background-color: #fff2f2;
  margin: 120px;
}
.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#subscribe-btn {
  background-color: #ef2f1e;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
#input {
  padding: 15px 30px;
}
footer {
  background-color: #070211;
  color: white;
  padding: 20px;

  /* width: 1600px;
  height: 609px; */
}
.part1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
  gap: 15px;
}
.icon {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
hr {
  background-color: white;
}
.part2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.part3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.red {
  color: #ff0000;
  font-size: 20px;
}
